<div class="main-content" id="dashsize">
        <h2>DRM D<small>ASHBOARD</small></h2>
        <div class="row">
            <div class="col-sm-4">
              <div class="card" style="height: 400px;">
                <div class="card-body">
                  <h5 class="card-title">MAP</h5><hr>
                </div>
              </div>
            </div>
        
            <div class="col-sm-5">
                <div class="container">
              <div class="card"  style="height: 470px;">
                <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">DISASTER TYPES</h5>
                  <HR>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../../assets/drm/flood.png" class="img-fluid" alt="..." height="50px" width="50px" ><br>
                        </div>
                        <div class="col-sm">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">F<small>LOODS</small>
                               <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="../../assets/drm/covid-19.png" class="img-fluid" alt="..." height="50px" width="50px"><br>
                        </div>
                        <div class="col-sm">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">C<small>OVID</small>-19
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../../assets/drm/landslide.png" class="img-fluid" alt="..." height="50px" width="50px"><br>
                        </div>
                        <div class="col-sm">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">L<small>AND</small> S<small>LIDES</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="../../assets/drm/earthquake.png" class="img-fluid" alt="..." height="50px" width="50px"><br>
                        </div>
                        <div class="col-sm">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">E<small>ARTHQUAKES</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../../assets/drm/wildfire.png" class="img-fluid" alt="..." height="50px" width="50px"><br>
                        </div>
                        <div class="col-sm">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">F<small>OREST</small> F<small>IRE</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="../../assets/drm/rabies.png" class="img-fluid" alt="..." height="50px" width="50px"><br>
                        </div>
                        <div class="col-sm">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">A<small>NIMAL</small> D<small>ISEASES</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../../assets/drm/tornado.png" class="img-fluid" alt="..." height="50px" width="50px"><br>
                        </div>
                        <div class="col-sm">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">C<small>YCLONE</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="../../assets/drm/storm.png" class="img-fluid" alt="..." height="50px" width="50px"><br>
                        </div>
                        <div class="col-sm">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">T<small>HUNDERSTRIKE</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../../assets/drm/snow-avalanche.png" class="img-fluid" alt="..." height="50px" width="50px"><br>
                        </div>
                        <div class="col-sm">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">A<small>VALANCHES</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="../../assets/drm/heatwave.png" class="img-fluid" alt="..." height="50px" width="50px"><br>
                        </div>
                        <div class="col-sm">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">C<small>LIMATE</small>C<small>HANGE</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <img src="../../assets/drm/pest.png" class="img-fluid" alt="..." height="50px" width="50px"><br>
                        </div>
                        <div class="col-sm">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">P<small>LANT</small>P<small>EST</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                        <div class="col-sm">
                            <img src="../../assets/drm/wind.png" class="img-fluid" alt="..." height="50px" width="50px"><br>
                        </div>
                        <div class="col-sm">
                            <div class="shadow-sm p-0 mb-2 bg-white rounded">W<small>INDS</small>
                                <p style="font-size: xx-small;">2019-2020 00,00,000</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
            <div class="col-sm-2">
            <div class="container">
                <div class="card" style="height: 500px;">
                  <div class="card-body">
                    <h5 class="card-title">DEMOGRAPHY</h5><HR>
                        <div class="col">
                            <div class="row">
                                <div class="shadow p-2 mb-3 bg-white rounded">P<small>EOPLE</small>
                                    <img src="../../assets/drm/people.png" height="20px" width="20px">1000
                                </div>
                            </div>
                            <div class="row">
                                <div class="shadow p-2 mb-3 bg-white rounded">H<small>OMES</small>
                                    <img src="../../assets/drm/house.png" height="20px" width="20px">1000
                                </div>
                            </div>
                            <div class="row">
                                <div class="shadow p-2 mb-3 bg-white rounded">B<small>LOCKS</small>
                                    <img src="../../assets/drm/building.png" height="20px" width="20px">1000
                                </div>
                            </div>
                            <div class="row">
                                <div class="shadow p-2 mb-3 bg-white rounded">P<small>ANCHAYAT</small>
                                    <img src="../../assets/drm/embassy.png" height="20px" width="20px">1000
                                </div>
                            </div>
                            <div class="row">
                                <div class="shadow p-2 mb-3 bg-white rounded">V<small>ILLAGE</small>
                                    <img src="../../assets/drm/village.png" height="20px" width="20px">1000
                                </div>
                            </div>
                            <div class="row">
                                <div class="shadow p-2 mb-3 bg-white rounded">F<small>ARM</small>
                                    <img src="../../assets/drm/agriculture.png" height="20px" width="20px">1000
                                </div>
                            </div>
                            <div class="row">
                                <div class="shadow p-2 mb-3 bg-white rounded">S<small>CHOOLS</small>
                                    <img src="../../assets/drm/school.png" height="20px" width="20px">1000
                                </div>
                            </div>
                          </div>
                  </div>
                </div>
              </div>
            </div>
              </div>
                  <div class="card" style="width: 1520px;">
                    <div class="card-body">
                        <div class="card-title">S<small>TAKEHOLDERS</small></div><hr>
                        <div class="row">
                            <div class="col-sm-1">
                                <div class="shadow-sm p-0 mb-2 bg-white rounded">E<small>ARTHQUAKES</small>
                            </div> 
                        </div>
                    </div>
              </div>
          </div>